* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Merriweather", serif;
}
/* Share it style */
main {
  margin: 50px 140px 0px 140px;
}
.font{
  font-family: Inter; 
}
.text-color {
  color: red;
}
.banner-1 {
  margin: 50px 140px 50px 140px;
  text-align: center;
  background-image: url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.navTitle {
  padding: 177px 344px 0px 344px;
  color: #ffffff;
  font-size: 27px;
}
.navHeadline {
  background-image:linear-gradient
  (to top, rgba(0,0,0,1),rgba(0,0,0,1));
  padding: 0px 344px 177px 344px;
  color: #ffffff;
  font-size: 50px;
}
/* this is main section related style */

/* .discount-Box Related style */
.discount-Title {
  color: #ff0000;
  font-size: 88px;
  font-weight: 700;
  margin: 50px 8px 48px 8px;
}
.discount-sell {
  color: #ff0000;
  font-size: 24px;
  font-weight: 500;
}
.category {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin: 0px 196px 48px 196px;
}
.discount-Box {
  text-align: center;
}

.newYearImg {
  height: 500px;
  width: 800px;
}
/* Welcome to midnight party related Style */
.banner-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-radius: 16px;
  background-image: url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
}
.banner-Title {
  color: white;
  padding: 126px 126px 0px 126px;
  font-size: 64px;
  font-family: Merriweather;
  font-weight: 900;
  line-height: 88px;
}
.bannerDescription {
  color: rgba(255, 255, 255, 0.8);
  padding: 0px 126px 0px 126px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.banner-btn-1 {
  background-color: transparent;
  color: white;
  border: none;
  margin:38px 552px 100px 130px;
}
.banner-img {
  padding: 70px 140px 70px 10px;
}

/* This is info-box related style */
.info-box {
  margin-top: 120px;
  text-align: center;
  background-color: #c5b1b1;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
  border-radius: 16px;
  padding: 100px 380px 100px 385px;
  line-height: 56px;
  font-size: 32px;
}
.banner-btn-2 {
  background-color: #ff0000;
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
/* this is items-card related style */
.items-card { 
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.title {
  line-height: 40px;
}

.item-img {
  border: 10px solid #ff0000;
  border-radius: 50%;
  padding: 10px;
}
.item-card-info-1{
  padding: 112px 118px 12px 0px;
  color: rgba(7, 2, 17, 0.6);
}
.item-card-info-2{
  padding: 112px 0px 12px 118px;
  color: rgba(7, 2, 17, 0.6);
}
.info-card-img{
  width:100px;
  height:100px;
}

/* Function Related Style */
.function {
  margin-top: 50px;
  text-align: center;
  position: relative;
}
.function-title {
  font-size: 72px;
}
.function-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.function-img {
  display: flex;
  padding-top: 64px;
  justify-content: space-between;
}

.function-img-2{
  padding-left: 94px;
  position: relative;
}

.discount-img {
  position: absolute;
  right: 200px;
  bottom: 300px;
}
.function-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  top: auto;
  width: 100%;
  z-index: -1;
}
/* this is portfolio related style */
.portfolio{
  margin-top:50px;
}
.img-part-items{
  width:400px;
  height:400px;
}
.portfolioHeadding{
  color: #070211;
  font-size: 48px;
  font-family: Merriweather;
  font-weight: 900; }
.portfolioDescription{

  color: rgba(7, 2, 17, 0.60);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px; 
}
.images-part{
  padding-top:10px;
  display: flex;
  justify-content: space-around;
}
/* this subscribe-part style here */
.icone{
  padding-top:80px;
}
.banner-3{
  margin-top:50px;
  text-align: center;
  background-color: #FF00000D;
}
.input-email{
  margin-top:48px;
  padding: 20px 350px 20px 30px;
  border-radius:25px;
  border: none;
  border-radius:25px 2px 2px 25px;
}
.input-field{
  padding-bottom:80px;

}
.description{
color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
line-height: 32px; 
}
.input-btn{
  padding:20px;
  border-radius:2px 25px 25px 2px;
  border: none;
  background-color: #FF0000;
  color: white;
}
/* this is footer part related style */
footer{
  background-color: #070211;
  margin-top:50px;
  padding:90px 90px;
  color: white;
  font-size: 14px;
}
.infoDescription-1{
  display: flex;
  justify-content: space-between;
  padding-bottom:50px;
  margin:0 50px 0 50px;
}
.infoDescription-2{
  display: flex;
  justify-content: space-between;
  padding-top:50px;
  margin:0 50px 0 50px;
}
.social-icone{
  display: flex;
  justify-content: center;
  border:1px #FFFFFF26 solid;
  align-items: center;
  border-right:0px;
  border-left:0px;
  margin-left:50px;
  margin-right: 50px;
  padding-bottom:80px;
}
.icone{
  margin:10px;
}

